@import "../variables.module.scss";

.contactContainer {
  p,
  .label {
    color: #000;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.map {
  position: relative;

  .iframe {
    min-height: 86vh;
  }
}

.contact {
  padding: 2rem;
  background-color: #FFF;
  border-radius: 20px;
  overflow: hidden;

  position: absolute;
  top: 40%;
  left: 5%;
  right: 5%;
}

.listItem {
  list-style: none;
  margin-left: -2rem;

  .linkItem {
    display: flex;
    gap: 1rem;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #000;
    }
  }
}

@media screen and (min-width: 576px) {
  .contact {
    border-radius: 20px 0 0 20px;
    left: 30%;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    top: 40%;
    left: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    left: 60%;
  }
}