@import "/src/app/variables.module.scss";

.bgDarkBlue {
  background-color: $dark-blue;
}

.navBtn {
  background-color: $dark-blue;
  margin: 5px 0;
  font-size: 0.75rem;
  border: none;
  
  &:hover {
    background-color: $medium-blue;
  }
}

.navbarToggle {
  background-color: #FFF;
  color: $medium-blue;
}

.profileIcon {
  font-size: 22px;
  font-weight: 600;
  font-weight: 600;
  color: #FFF;
  min-width: 45px;
  min-height: 45px;
  background-color: $dark-blue;
  border: 2px solid #FFF;
  border-radius: 50%;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reactModal {
  position: absolute;
  width: 200px;
  height: 160px;
  top: 390px;
  padding: 1rem;
  background-color: #FFF;
  border-radius: 5px;
  outline: none;

  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.26);
}

.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}


.modalLink {
  font-weight: bold;
  margin: 5px 0;
  cursor: pointer;
  color: $dark-blue;
  transition: 0.3s;
  &:hover {
    color: $medium-blue;
  }
}

@media screen and (min-width: 375px) {
  .navBtn {
    font-size: 0.88rem;
  }
}

@media screen and (min-width: 992px) {
  .reactModal {
    top: 135px;
    right: 15%;
  }
}