@import "/src/app/variables.module.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  
  background-color: $dark-blue;
}

.navBtn {
  background-color: $dark-blue;
  margin: 5px 0;
  font-size: 0.75rem;
  border: none;

  &:hover {
    background-color: $medium-blue;
  }
}

.dropdownItem {
  font-weight: bold;
  padding: 0.5rem 1.5rem;

  .dropdownLink {
    text-decoration: none;
    color: $dark-blue;

    &:hover {
      color: $medium-blue;
    }
  }
}

.logo {
  order: 2;
}

.navbarToggle {
  background-color: #FFF;
  color: $medium-blue;

  order: 3;
}

.navbarCollapse {
  order: 3;
}

.welcome {
  display: none;
}

.profileIcon {
  font-size: 22px;
  font-weight: 600;
  font-weight: 600;
  color: #FFF;
  min-width: 45px;
  min-height: 45px;
  background-color: $dark-blue;
  border: 2px solid #FFF;
  border-radius: 50%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reactModal {
  position: absolute;
  width: 200px;
  height: 180px;
  top: 390px;
  padding: 0.5rem 0;
  background-color: #FFF;
  border-radius: 5px;
  outline: none;

  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.26);
}

.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.modalLink {
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: $dark-blue;
  transition: 0.3s;


  &:hover {
    color: $medium-blue;
    background-color: $light-gray;
  }
}

@media screen and (min-width: 375px) {
  .navBtn {
    font-size: 0.88rem;
  }
}

@media screen and (min-width: 992px) {
  .welcome {
    display: block;
  }
  
  .reactModal {
    top: 135px;
    right: 15%;
  }

  .logo {
    order: unset;
  }

  .navbarToggle {
    order: unset;
  }

  .navbarCollapse {
    order: unset;
  }
}