@import "../app/variables.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
}

a {
  text-decoration: none;
}

main {
  background-color: $light-gray;
  min-height: 86vh;
}

.nav-link.dropdown-toggle {
  color: #FFF !important;
}

.dropdown-item.active,
.dropdown-item {
  &:active {
    color: #FFF !important;
    background-color: #FFF !important;
  }

  &:hover {
    background-color: $light-gray !important;
  }
}

.nav-link.dropdown-toggle {
  &:focus {
    color: #FFF !important;
  }
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: none !important;
  opacity: 1;
}

// Component Pagination
.pagination .page-item .page-link {
  color:  $medium-blue !important; 
  border: 1px solid #CCC !important;
  border-radius: 5px;
}

.pagination .page-item .page-link span {
  color: $medium-blue;
}

.pagination .page-item.disabled .page-link span {
  color: #CCC;
}

.pagination .page-item.active .page-link {
  background-color: $medium-blue !important;
  color: #FFF !important;
  border-color: #FFF !important;
}

// Scroll
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $light-gray;
}

::-webkit-scrollbar-thumb {
  background: $medium-blue;
  border-radius: 40px;
}