@import "../app/variables.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
  text-decoration: none;
}

main {
  background-color: $light-gray;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $light-gray;
}

::-webkit-scrollbar-thumb {
  background: $medium-blue;
  border-radius: 40px;
}
