@import "../app/variables.module.scss";

.link {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background-color: $medium-blue;
  color: #FFF;
  border-radius: 10px;
  margin-bottom: 3rem;

  
  &:hover {
    background-color: $light-blue;
  }
}