@import "/src/app/variables.module.scss";

.searchSection {
  display: flex;
  justify-content: center;
  min-height: 86vh;

  background-image: url('/background-small.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
}


@media screen and (min-width: 768px) {
  .searchSection {
    background-image: url('/background-large.jpg');
  }
}