@import "/src/app/variables.module.scss";

.modalHeader,
.modalBody {
  background-color: $dark-blue;
}

.modalBody {
  border-radius: 0 0 5px 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
}

.info {
  font-size: 18px;
}

.button {
  justify-self: center;
  margin: 1rem auto;
  padding: 0.5rem 3rem;
  border: 2px solid #FFF;
  border-radius: 10px;
  background-color: $light-blue;

  &:hover {
    background-color: $medium-blue;
    border: 2px solid #FFF
  }
}