@import "/src/app/variables.module.scss";

.container {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 4rem 0;
  color: #000;
}

.button {
  background-color: $dark-blue;
  border-radius: 10px;
  border: none;
  padding: 0.7rem 1.5rem;

  transition: 0.5s;

  &:hover {
    background-color: $medium-blue;
  }
}

@media screen and (min-width: 992px) {
  .title {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }
}
