@import "/src/app/variables.module.scss";

.container {
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 4rem 0;
  color: #000;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $dark-blue;
}

.profileIcon {
  border: 2px solid $dark-blue;
  color: $dark-blue;
  background-color: $dark-blue;
  border-radius: 50%;
  padding: 3px;
  min-width: 50px;
  min-height: 50px;
}

.userName {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 600;
  color: $dark-blue;
  margin: 0;
}

.cardForm {
  align-self: center;
  justify-self: center;
  min-width: 300px;
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: #FFF;
  border-radius: 10px;

}

.button {
  background-color: $dark-blue;
  border-radius: 10px;
  border: none;
  padding: 0.7rem 1.5rem;

  transition: 0.5s;

  &:hover {
    background-color: $medium-blue;
  }
}

@media screen and (min-width: 576px) {
  .userName {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .card-form {
    padding: 3rem;
    width: 700px;
  }
}
