@import "/src/app/variables.module.scss";

.footer {
  background-color: $dark-blue;
  padding: 1rem;
}

.listsContainer {
  flex-direction: column;

  .listWithTitle {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.list {
  display: grid;
  gap: 1.5rem;
}

.listWithTitle,
.socialMediasList {
  border-bottom: 1px solid #FFF;
  padding-bottom: 4rem;
}

.listTitle {
  font-weight: bold;
  text-align: center;
}

.listItem {
  font-style: italic;
  list-style: none;
  margin-left: -1rem;
}

.realEstateData {
  p {
    font-size: 0.88rem;
    line-height: 0.7rem;
  }
}

.contactArea {
  border-bottom: 1px solid #FFF;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  border: none;

  p {
    display: none;
  }

  &:hover {
    text-decoration: underline;
    color: #FFF;
  }
}

#linkLogin,
#linkRegister {
  &:active {
    color: #FFF;
  }
}

.copyright {
  font-size: 0.88rem;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (min-width: 480px) {
  .listWithTitle {
    align-items: center;
  }

  .list {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }
}


@media screen and (min-width: 992px) {
  .listsContainer {
    flex-direction: row;
  }

  .list {
    grid-template-columns: 1fr;
  }

  .listWithTitle {
    border-bottom: none;
    border-right: 1px solid #FFF;
    padding-bottom: 0;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .socialMediasList {
    border: none;
    padding-bottom: 0;
    gap: 1.5rem;
  }

  .listTitle {
    padding-left: 1rem;
  }

  .contactArea {
    flex-direction: row;
  }

  .link {
    p {
      display: block;
    }
  }
}